html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  padding: 0 20px;
  width: 250px;
  margin: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1;
}

.sidebar-logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 250px;
}

/* Sidebar Navigation */
#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#navigation a {
  text-decoration: none;
  list-style: none;
  color: #808080;
  font-size: 1.2em;
  margin-bottom: 20px;
  letter-spacing: .1em;
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif;
}

#navigation a:hover {
  color: #3179a4;
}

/* Carousel */
#featuredCarousel {
  width: 100%;
}

.item img {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(100,100,100,0.7);
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.carousel-caption h3 {
  font-size: 2em;
  margin: 5px 0;
  font-family: 'Sacramento', cursive;
}

.carousel-caption p {
  letter-spacing: .1em;
  font-size: .9em;
  font-family: 'Quicksand', sans-serif;
}

/* Home content */

.home-content {
  font-family: 'Quicksand', sans-serif;
  margin: 15px;
}

.home-description {
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 5px 20px 20px 20px;
  text-align: center;
  color: #808080;
}

.home-description h2 {
  border-bottom: 1px #808080 solid;
}

.home-description h2 span {
  color: #3179a4;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
}

/* Main */
.main {
  margin-right: 250px;
  width: calc(100%-250px);
  height: 100vh;
  background: #79A431;
}
