/*Fonting*/
@font-face {
  font-family: 'BlackJack';
  src: url(../res/fonts/BLACKJAR.TTF) format('truetype');
}

@font-face {
  font-family: 'Covered';
  src: url(../res/fonts/CoveredByYourGrace.ttf) format('truetype');
}

@font-face {
  font-family: 'Footlight';
  src: url(../res/fonts/footlight.ttf) format('truetype');
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Sidebar */
.sidebar {
  padding: 0 20px;
  width: 250px;
  margin: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #e5e5e5;
  z-index: 1;
}

.sidebar-logo {
  background: url(../images/logo.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 250px;
}

/* Sidebar Navigation */
#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#navigation a {
  text-decoration: none;
  list-style: none;
  color: #808080;
  font-size: 1.2em;
  margin-bottom: 20px;
  letter-spacing: 4px;
  font-weight: bolder;
  font-family: 'Covered', sans-serif;
}

#navigation a:hover {
  color: #3179a4;
}

/* Carousel */
#featuredCarousel {
  width: 100%;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-caption {
  background-color: rgba(100,100,100,0.7);
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.carousel-caption h3 {
  font-size: 2em;
  margin: 5px 0;
  letter-spacing: 3px;
  font-family: 'Covered', sans-serif;
}

.carousel-caption p {
  letter-spacing: .1em;
  font-size: .9em;
  font-family: 'Footlight', sans-serif;
}

/* Home content */

.home-content {
  font-family: 'Footlight', sans-serif;
  margin: 15px;
}

.home-description {
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 5px 20px 0px 20px;
  text-align: center;
  color: #808080;
}

.home-description h2 {
  border-bottom: 1px #808080 solid;
}

.home-description h2 span {
  color: #79A431;
  font-family: 'BlackJack';
  font-size: 2em;
}

.content-navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-navigation-container a,
.content-navigation-container h3 {
  margin: 0;
  text-decoration: none;
  color: #79A431;
  font-family: 'Covered', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

.content-navigation-container a {
  box-shadow: 0 4px 8px 0 rgba(100,100,100,0.7);
  background-color: rgba(255,255,255,1);
  border-width: 2px;
  border-style: solid;
  padding: 10px 55px;
  border-radius: 10px;
  transition: 0.3s;
}

.content-navigation-container a:hover {
  background-color: rgba(100,100,100,.1);
  text-decoration: none;
  color: #3179a4;
  box-shadow: 0 8px 16px 0 rgba(100,100,100,0.7);
}

/* Main */
.main {
  margin-right: 250px;
  width: calc(100% - 250px);
  color: #79A431;
}

/*
----- Services, Testimonials, FAQ, and Contact -----
*/

#services,
#testimonials,
#contact {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
  padding-top: 0;
  min-width: 650px;
  font-family: 'Footlight', sans-serif;
}

#services h1,
#testimonials h1,
#contact h1 {
  font-family: 'Blackjack';
  font-size: 4em;
  width: 100%;
  text-align: center;
}

#services h3,
#testimonials h3,
#contact h3 {
  font-size: 1.2em;
  text-align: center;
}

/*
----- Services -----
*/

#services hr {
  border-top: 1px dashed #79A431;
}

.service-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.service-title {
  padding-top: 20px;
  padding-bottom: 30px;
}

.service-title h2 {
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 0;
}

.service-image {
  height: 200px;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#service-wedding {
  background-image: url(../images/services/service_wedding.png);
}

#service-baby {
  background-image: url(../images/services/service_baby.png);
}

#service-birthday {
  background-image: url(../images/services/service_birthday.png);
}

.service-description {
  max-width: 800px;
  font-size: 1.1em;
  margin: 20px auto;
  line-height: 1.85;
}

.service-description h4 {
  text-align: left;
  font-size: 1.4em;
  font-family: 'Covered';
  letter-spacing: 3px;
  margin-top: 30px;
}

.service-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-contact a,
.service-contact h3 {
  margin: 0;
  text-decoration: none;
  color: #79A431;
  font-size: 1.5em;
  font-family: 'Covered', sans-serif;
  letter-spacing: 2px;

}

.service-contact a {
  box-shadow: 0 4px 8px 0 rgba(100,100,100,0.7);
  background-color: rgba(255,255,255,1);
  border-width: 2px;
  border-style: solid;
  padding: 10px 55px;
  border-radius: 10px;
  transition: 0.3s;
}

.service-contact a:hover {
  background-color: rgba(100,100,100,.1);
  text-decoration: none;
  color: #3179a4;
  box-shadow: 0 8px 16px 0 rgba(100,100,100,0.7);
}

/*
----- Testimonials -----
*/

.testimony-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px dashed #79A431;
}

.testimony-container img {
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  background-size: contain;
  margin-right: 10px;
}

.testimony-description {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
}

.testimony-description h4 {
  letter-spacing: .1em;
}

.testimony-description h4 span {
  color: #3179a4;
  font-style: italic;
  font-size: .8em;
}

.testimony-container p {
  line-height: 1.85;
}

#testimonials .content-navigation-container {
  margin-top: 40px;
}

/*
----- Wedding Inquiries -----
*/

#wedding {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 40px;
  padding-top: 0;
  min-width: 650px;
  font-family: 'Footlight', sans-serif;
}

#wedding h1 {
  font-family: 'BlackJack';
  font-size: 4em;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

#wedding h1 span {
  color: #79A431;
  font-family: 'BlackJack';
  font-size: .5em;
}

#wedding h3 {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.8;
}

#wedding hr {
  border-top: 1px dashed #79A431;
}

.section-head {
  text-align: center;
}

.flexx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.package-container {
  min-width: 450px;
  max-width: 450px;
  margin: 20px;
  font-size: 1.1em;
  flex: 1;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.package-title {
  font-family: 'Covered', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5em;
}

.package-price {
  text-align: center;
  font-size: 1.2em;
  color: #3179a4;
}

/* Wedding Form ONLY */
form {
  display: table;
  margin: 40px auto;
}
form label {
  position: relative;
  display: block;
}
form label input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
form label input:focus, form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
form label input:focus::placeholder, form label input.populated::placeholder {
  color: transparent;
}
form label input:focus + span, form label input.populated + span {
  opacity: 1;
  top: 10px;
}
form label span {
  color: #35dc9b;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
form input[type="submit"] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #1aaf75;
  color: #fff;
  padding: 16px 40px;
}
form input[type="submit"]:hover {
  background: #109f67;
}
