<!-- Featured information carousel -->
<div id="featuredCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#featuredCarousel" data-slide-to="1"></li>
    <li data-target="#featuredCarousel" data-slide-to="2"></li>
    <li data-target="#featuredCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- slide 1 -->
    <div class="item active">
      <img ng-src="{{carouselStart.source}}">
      <div class="carousel-caption">
        <h3>{{carouselStart.captionTop}}</h3>
        <p>{{carouselStart.captionBottom}}</p>
      </div>
    </div>

    <!-- slide 2 -->
    <div class="item" ng-repeat="carousels in carousel">
      <img ng-src="{{carousels.source}}">
      <div class="carousel-caption">
        <h3>{{carousels.captionTop}}</h3>
        <p>{{carousels.captionBottom}}</p>
      </div>
    </div>

  </div>

</div>

<div class="home-content">
  <div class="home-description">
  <h2>How can we <span>Make Your Day</span> ?</h2>
  <p>Make Your Day offers many services ranging from "day of" to "full service" event coordination.</p>
  <p>Whether you're planning a wedding, bridal shower, or birthday party, we are here to collaborate
    with you to make your event stress-free and unforgettable.</p>
  </div>
</div>

<div class="content-navigation-container">
  <a href="#/services"><h3>Get  Started</h3></a>
</div>
