<div id="services">
  <h1>Services</h1>
  <h3>We tailor our service to your needs.  Here are some of the services we offer.</h3>
  <hr>

  <div class="service-container">
    <!-- Service Title -->
    <div class="service-title">
      <h2>Weddings</h2>
    </div>

    <!-- Service image -->
    <div class="service-image" id="service-wedding">
    </div>

    <!-- Service Description -->
    <div class="service-description">
      <p>Donec pulvinar sit amet augue ac viverra. Fusce id libero a sem scelerisque semper. Duis fermentum, tortor eu gravida suscipit, massa tortor sagittis est, eu vulputate eros metus nec magna. Nam convallis aliquam massa, vel blandit massa aliquam id. Morbi sed mauris libero.</p>
      <ul>
        <li>Donec sed sem finibus, sagittis quam quis, dapibus felis. Sed eget sodales ipsum. Ut luctus risus sit amet urna commodo congue. Donec et augue sed sem faucibus accumsan eget id magna.</li>
        <li>Nullam dui libero, finibus ut sapien in, semper aliquam libero. Sed et commodo nisl, in tempor tellus.</li>
        <li>Vivamus et lobortis orci. Nam condimentum augue quis ornare gravida.</li>
        <li>Praesent aliquet justo vitae arcu volutpat, eget ultrices eros dapibus. Donec eget porta nunc, ac aliquet lorem. Maecenas maximus fringilla libero, sit amet viverra ante tristique ac. Curabitur at iaculis est. Integer posuere, elit nec gravida ullamcorper, erat orci porta lorem, id congue neque tellus ac turpis. Pellentesque pulvinar, eros in mattis viverra, libero lorem venenatis arcu, quis feugiat metus turpis a mi. Maecenas luctus faucibus nibh.</li>
      </ul>
    </div>

    <!-- Route to contact -->
    <div class="service-contact">
      <a href="#/contact"><h3>Get Quote</h3></a>
    </div>

  </div>

  <hr>

  <div class="service-container">
    <!-- Service Title -->
    <div class="service-title">
      <h2>Baby Showers</h2>
    </div>

    <!-- Service image -->
    <div class="service-image" id="service-baby">
    </div>

    <!-- Service Description -->
    <div class="service-description">
      <p>Donec pulvinar sit amet augue ac viverra. Fusce id libero a sem scelerisque semper. Duis fermentum, tortor eu gravida suscipit, massa tortor sagittis est, eu vulputate eros metus nec magna. Nam convallis aliquam massa, vel blandit massa aliquam id. Morbi sed mauris libero.</p>
      <ul>
        <li>Donec sed sem finibus, sagittis quam quis, dapibus felis. Sed eget sodales ipsum. Ut luctus risus sit amet urna commodo congue. Donec et augue sed sem faucibus accumsan eget id magna.</li>
        <li>Nullam dui libero, finibus ut sapien in, semper aliquam libero. Sed et commodo nisl, in tempor tellus.</li>
        <li>Vivamus et lobortis orci. Nam condimentum augue quis ornare gravida.</li>
        <li>Praesent aliquet justo vitae arcu volutpat, eget ultrices eros dapibus. Donec eget porta nunc, ac aliquet lorem. Maecenas maximus fringilla libero, sit amet viverra ante tristique ac. Curabitur at iaculis est. Integer posuere, elit nec gravida ullamcorper, erat orci porta lorem, id congue neque tellus ac turpis. Pellentesque pulvinar, eros in mattis viverra, libero lorem venenatis arcu, quis feugiat metus turpis a mi. Maecenas luctus faucibus nibh.</li>
      </ul>
    </div>

    <!-- Route to contact -->
    <div class="service-contact">
      <a href="#/contact"><h3>Get Quote</h3></a>
    </div>

  </div>

  <hr>

  <div class="service-container">
    <!-- Service Title -->
    <div class="service-title">
      <h2>Birthday Parties</h2>
    </div>

    <!-- Service image -->
    <div class="service-image" id="service-birthday">
    </div>

    <!-- Service Description -->
    <div class="service-description">
      <p>Donec pulvinar sit amet augue ac viverra. Fusce id libero a sem scelerisque semper. Duis fermentum, tortor eu gravida suscipit, massa tortor sagittis est, eu vulputate eros metus nec magna. Nam convallis aliquam massa, vel blandit massa aliquam id. Morbi sed mauris libero.</p>
      <ul>
        <li>Donec sed sem finibus, sagittis quam quis, dapibus felis. Sed eget sodales ipsum. Ut luctus risus sit amet urna commodo congue. Donec et augue sed sem faucibus accumsan eget id magna.</li>
        <li>Nullam dui libero, finibus ut sapien in, semper aliquam libero. Sed et commodo nisl, in tempor tellus.</li>
        <li>Vivamus et lobortis orci. Nam condimentum augue quis ornare gravida.</li>
        <li>Praesent aliquet justo vitae arcu volutpat, eget ultrices eros dapibus. Donec eget porta nunc, ac aliquet lorem. Maecenas maximus fringilla libero, sit amet viverra ante tristique ac. Curabitur at iaculis est. Integer posuere, elit nec gravida ullamcorper, erat orci porta lorem, id congue neque tellus ac turpis. Pellentesque pulvinar, eros in mattis viverra, libero lorem venenatis arcu, quis feugiat metus turpis a mi. Maecenas luctus faucibus nibh.</li>
      </ul>
    </div>

    <!-- Route to contact -->
    <div class="service-contact">
      <a href="#/contact"><h3>Get Quote</h3></a>
    </div>

  </div>


</div>
