<div id="services">
  <h1>Services</h1>
  <h3>My purpose is to coordinate and execute all that you have planned and worked so hard for</h3>
  <hr>

  <div class="service-container">
    <!-- Service Title -->
    <div class="service-title">
      <h2>Weddings</h2>
    </div>

    <!-- Service image -->
    <div class="service-image" id="service-wedding">
    </div>

    <!-- Service Description -->
    <div class="service-description">
      <h4>Overview</h4>
      <p>I am here for the person who wants full responsibility for planning their own wedding, but could still use a
        helping hand on the wedding day and possibly the rehearsal, to ensure that your vision becomes a reality.</p>
      <p>Although a Day Of Coordinator is typically booked well in advance of the wedding, I do not get involved until
        1-2 weeks prior to wedding day. On the day of the wedding, I will be present at the venue/s to ensure every
        detail is set up the way you have envisioned, the timeline of the day is adhered to as much as possible and
        clean-up is handled per your direction.</p>
      <p>As your Day Of Coordinator, I will be the liaison between you and the vendors for the day.
        This will hopefully relieve you of unnecessary stress, which is, in a nutshell, what being a Day Of Coordinator is really all about.
        During the ceremony and reception the Day Of Coordinator's responsibility is to ensure everything runs smoothly.</p>
      <p>The goal is to adhere to the timeline, but in the event that this isn’t possible (and that will happen
        more often than you think!), it is the Day Of Coordinator's responsibility to ensure that events are rearranged
        in such a way that incurs minimal cost and stress to the bride, groom, their families and their guests.</p>
      <h4>Responsibilities</h4>
      <p>My responsibilities typically include, but are not exclusive or limited to:</p>
      <ul>
        <li>Assisting you in organizing and executing your plans for the rehearsal, ceremony, and reception</li>
        <li>Coordinating with all vendors to ensure their instructions and plan go according to your vision</li>
        <li>Reviewing all contractual obligations of each vendor with you, as needed</li>
        <li>Setting up reception site amenities and ensuring vendors are assisted properly per your plan</li>
      </ul>
      <p>Keep in mind that this is a basic overview, not a complete list of services.
        When we meet, your specific needs will be discussed in detail!</p>
    </div>

    <!-- Route to contact -->
    <div class="service-contact">
      <a href="#/services/wedding"><h3>Learn More</h3></a>
    </div>

  </div>

  <hr>

  <div class="service-container">
    <!-- Service Title -->
    <div class="service-title">
      <h2>Baby Showers</h2>
    </div>

    <!-- Service image -->
    <div class="service-image" id="service-baby">
    </div>

    <!-- Service Description -->
    <div class="service-description">
      <p>Donec pulvinar sit amet augue ac viverra. Fusce id libero a sem scelerisque semper. Duis fermentum, tortor eu gravida suscipit, massa tortor sagittis est, eu vulputate eros metus nec magna. Nam convallis aliquam massa, vel blandit massa aliquam id. Morbi sed mauris libero.</p>
      <ul>
        <li>Donec sed sem finibus, sagittis quam quis, dapibus felis. Sed eget sodales ipsum. Ut luctus risus sit amet urna commodo congue. Donec et augue sed sem faucibus accumsan eget id magna.</li>
        <li>Nullam dui libero, finibus ut sapien in, semper aliquam libero. Sed et commodo nisl, in tempor tellus.</li>
        <li>Vivamus et lobortis orci. Nam condimentum augue quis ornare gravida.</li>
        <li>Praesent aliquet justo vitae arcu volutpat, eget ultrices eros dapibus. Donec eget porta nunc, ac aliquet lorem. Maecenas maximus fringilla libero, sit amet viverra ante tristique ac. Curabitur at iaculis est. Integer posuere, elit nec gravida ullamcorper, erat orci porta lorem, id congue neque tellus ac turpis. Pellentesque pulvinar, eros in mattis viverra, libero lorem venenatis arcu, quis feugiat metus turpis a mi. Maecenas luctus faucibus nibh.</li>
      </ul>
    </div>

    <!-- Route to contact -->
    <div class="service-contact">
      <a href="#/contact"><h3>Get Quote</h3></a>
    </div>

  </div>

  <hr>

  <div class="service-container">
    <!-- Service Title -->
    <div class="service-title">
      <h2>Birthday Parties</h2>
    </div>

    <!-- Service image -->
    <div class="service-image" id="service-birthday">
    </div>

    <!-- Service Description -->
    <div class="service-description">
      <p>Donec pulvinar sit amet augue ac viverra. Fusce id libero a sem scelerisque semper. Duis fermentum, tortor eu gravida suscipit, massa tortor sagittis est, eu vulputate eros metus nec magna. Nam convallis aliquam massa, vel blandit massa aliquam id. Morbi sed mauris libero.</p>
      <ul>
        <li>Donec sed sem finibus, sagittis quam quis, dapibus felis. Sed eget sodales ipsum. Ut luctus risus sit amet urna commodo congue. Donec et augue sed sem faucibus accumsan eget id magna.</li>
        <li>Nullam dui libero, finibus ut sapien in, semper aliquam libero. Sed et commodo nisl, in tempor tellus.</li>
        <li>Vivamus et lobortis orci. Nam condimentum augue quis ornare gravida.</li>
        <li>Praesent aliquet justo vitae arcu volutpat, eget ultrices eros dapibus. Donec eget porta nunc, ac aliquet lorem. Maecenas maximus fringilla libero, sit amet viverra ante tristique ac. Curabitur at iaculis est. Integer posuere, elit nec gravida ullamcorper, erat orci porta lorem, id congue neque tellus ac turpis. Pellentesque pulvinar, eros in mattis viverra, libero lorem venenatis arcu, quis feugiat metus turpis a mi. Maecenas luctus faucibus nibh.</li>
      </ul>
    </div>

    <!-- Route to contact -->
    <div class="service-contact">
      <a href="#/contact"><h3>Get Quote</h3></a>
    </div>

  </div>

  <hr>
  <!-- Still have questions? -->
  <div class="have-questions">
    <h3>Still have questions?</h3>
    <h3><span><a href="#/testimonials">See what people are saying about Make Your Day!</a></span></h3>
  </div>

</div>
